h1{
    text-align: center;/*Alineació*/
    font-family: Arial, Helvetica, sans-serif;/*Font de lletra*/
    font-size: 25px;/*Tamany de la lletra*/
    color: rgb(169, 98, 235);/*Color*/
    padding-bottom: 30px;/*Espai desde abaix*/
    font-weight: bold;/*Opacitat*/
}
.marc{
    border: 2px solid black;/*Vora*/
    margin: 0 auto;/*Marges*/
    width: 530px;/*Tamany*/
    padding-bottom: 15px;
    
}
.taula table{
    margin-left: auto;/*Marges de la esquerra*/
    margin-right: auto;/*Marges de la dreta*/ 
}
.taula caption{
    color: blue;/*Coloor*/
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.taula th{
    background-color:rgb(201, 201, 201) ;

}
.taula table, .taula td, .taula th{
    border: 2px solid black;
    border-collapse: collapse;
}
.taula th{
    font-weight: bold;
}
.taula td{
    padding-top: 5px ;/*Espai d'amunt*/
    padding-bottom: 5px;/*Espai d'abaix*/
    padding-left: 4px;/*Espai de l'esquerra*/
    padding-right: 4px;/*Espai de la dreta*/
    font-weight: bold;
  }